* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    h2 {
        font-size: 5vh;
        margin-bottom: 2vh;
    }

    .box-style {
        padding: 1.5vh 1vw;
        background-color: white;
        border-radius: 1vh;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
}

#top-container {
    /* set height and width to entire screen */
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: 'Roboto', sans-serif;
    background-color: #e0e0e0;

    #instructions,
    #form {
        height: 100%;
        flex: 1;
    }

    #content-container {
        height: 100%;
        aspect-ratio: 9/16;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border: 1px solid darkgray;
        background-color: #FAF9F6;

        #page-container {
            margin: 1.3vh;
            height: calc(90vh)
        }
    }
}

/* navbar Styling */
#navbar {
    height: 8%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: space-between;

    div {
        height: 100%;
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 80%;
        }
        
        border: 1px solid darkgray;
    }

    /* for some reason doesn't work nested with previous */
    div:hover {
        background-color: lightgray;
        cursor: pointer;
    }

    .selected {
        background-color: gray;
    }
    
}

/* signup page Styling */
#signup {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    img {
        height: 50vh;
    }

    h1 {
        width:100%;
        text-align: center;
        border-bottom: 1px solid black;
    }   

    form {
        height: 40vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;

        * {
            width: 100%;
            margin: 2vh 0;
            font-size: 3vh;
        }
    }
}

/* Info page Styling */
#info {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    #info-back {
        margin: 5% 90% 0 0;
        width: 3vh;
        height: 3vh;
        font-size: 2vh;
    }

    h2 {
        margin-top: 5vw;
        font-size: 5vh;
        width: 90%;
        text-align: center;
    }

    form {
        width: 80%;
        margin: 10vh 0; 
        font-size: 3vh;

        div {
            display: flex;
            margin: 3vh 0;

            * {
                font-size: 3vh;
            }

            label:first-child {
                width: 35%;
            }

            input[type="url"], input[type="text"], input[type="date"] {
                width: 65%;
            }

            input[type="number"] {
                width: 20%;
            }
            
            input[type="radio"] {
                margin-left: 0.5vw;
                width: 5%;
            } 
        }
        
        button {
            width: 100%;
            margin-top: 5vh;
            font-size: 3vh;
        }
    }
}

/* Goals Page styling */
#goal {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    #info-back {
        margin: 5% 90% 0 0;
        width: 3vh;
        height: 3vh;
        font-size: 2vh;
    }

    h2 {
        margin-top: 5vw;
        font-size: 5vh;
        width: 90%;
        text-align: center;
    }

    form {
        width: 80%;
        margin: 10vh 0; 
        font-size: 3vh;

        > div {
            display: flex;
            justify-content: space-between;
            margin: 4vh 0;

            * {
                font-size: 3vh;
            }

            label {
                margin-left: 1vh;
            }
            
            input[type="checkbox"] {
                height: 2vh;
                width: 2vh;
            }

            input[type="number"] {
                width: 30%;
            }
            
            > :first-child {
                width: 70%;
            }
            
            >:last-child {
                width: 30%;
                #weight {
                    width: 100%;
                }
            }
            p {
                text-align: right;
            }
        }

        button {
            width: 100%;
            margin-top: 5vh;
            font-size: 3vh;
        }

    }
}

/* Stats page styling */
#stats {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 3vh;

    #stats-container {
        width: 90%;
        height: 85%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        .progress-bar {
            margin-top: 1vh;

            height: 50%;
            background-color: darkgray;
            border-radius: 1vh;
            text-align: center;
            line-height: 4vh;
            color: black;

            .progress {
                height: 100%;
                background-color: green;
                border-radius: 1vh;
            }
        }
        > div:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }
}

/* Exercise Page styling */
#exercises {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    

    #info-back {
        margin: 5% 90% 0 0;
        width: 3vh;
        height: 3vh;
        font-size: 2vh;
    }

    .filter {
        font-size: 2vh;

        select {
            font-size: 2vh;
        }
    }

    #video-container {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .video:hover {
            background-color: lightgray;
            cursor: pointer;
        }

        .video {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 1vh 0.5vw;
            padding: 1vh 0.5vw;

            p {
                font-size: 1.3vh;
                text-align: justify;
                padding-left: 1vw;
            }
    
            img {
                height: 10vh; 
                aspect-ratio: 16/9;
                object-fit: cover;
            }
        }
    }

    iframe {
        margin-top: 2vh;
        width: 95%;
        aspect-ratio: 16/9;
    }
}

#food {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    *:not(h2) {
        font-size: 2vh;
    }

    .search {
        margin: 2vh;
        display: flex;
        justify-content: center;
    }

    #food-container {
        flex: 1;
        overflow: auto;
    }
    
    table {
        width: 100%;
        th, td {
            padding: 0.4vh;
        }
    }
    
    #calorie-calculation {
        margin: 1vh;
        text-align: right;
    }

    input[type="number"] {
        width: 20vh;
        border: none;
    }
}
  
#settings {
    display: flex;
    flex-direction: column;
    align-items: center;

    *:not(h2) {
        margin: 1.3vh 0;
        font-size: 3vh;
    }

    img {
        border-radius: 50%;
        width: 50%;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    form {
        margin: 1.3vh;
        width: 80%; 
        font-size: 3vh;

        > div {
            margin: 0;
            display: flex;

            label:first-child {
                width: 35%;
            }

            input {
                width: 65%;
            }

            input[type="number"] {
                width: 20%;
            }
            
            input[type="radio"] {
                margin-left: 0.5vw;
                width: 5%;
            } 
        }
        
        button {
            width: 100%;
            font-size: 3vh;
            margin-bottom: 1vh;
        }
    }
}


#instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    .hidden {
        display:none;
    }
    
    h1 {
        font-size: 6vh;
    }

    > * {
        font-size: 2.5vh;
        width: 95%;
    }

    div {
        width: 90%;
        font-size: 2vh;
        margin: 2vh;
        display: flex;
        justify-content: space-between;
        button {
            font-size: 2vh;
            width: 20%;
        }
    }
    > button, >textarea {
        width: 90%
    }
    .completed {
        background-color: lime;
    }
}
#form {
    h1 {
        font-size: 6vh;
    }

    #gform { 
        display: none;
    }
}