* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#top-container {
    /* set height and width to entire screen */
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

#top-container #instructions,
    #top-container #form {
        height: 100%;
        flex: 1;
    }

#top-container #content-container {
        height: 100%;
        aspect-ratio: 9/16;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border: 1px solid darkgray;
        background-color: white;
    }

#top-container #content-container #page-container {
            height: calc(90vh)
        }

/* navbar Styling */
#navbar {
    height: 8%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: space-between;
    
}
#navbar div {
        height: 100%;
        flex: 1;

        display: flex;
        justify-content: center;
        align-items: center;
    }
#navbar div img {
            height: 80%;
        }
#navbar div {
        
        border: 1px solid darkgray;
}
/* for some reason doesn't work nested with previous */
#navbar div:hover {
        background-color: lightgray;
    }
#navbar .selected {
        background-color: gray;
    }

/* signup page Styling */
#signup {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#signup img {
        height: 50vh;
    }
#signup h1 {
        width:100%;
        text-align: center;
        border-bottom: 1px solid black;
    }
#signup form {
        height: 40vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
#signup form * {
            width: 100%;
            margin: 2vh 0;
            font-size: 3vh;
        }

/* Info page Styling */
#info {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#info #info-back {
        margin: 5% 90% 0 0;
        width: 3vh;
        height: 3vh;
        font-size: 2vh;
    }
#info h2 {
        margin-top: 5vw;
        font-size: 5vh;
        width: 90%;
        text-align: center;
    }
#info form {
        width: 80%;
        margin: 10vh 0; 
        font-size: 3vh;
    }
#info form div {
            display: flex;
            margin: 3vh 0; 
        }
#info form div * {
                font-size: 3vh;
            }
#info form div label:first-child {
                width: 35%;
            }
#info form div input[type="url"], #info form div input[type="text"], #info form div input[type="date"] {
                width: 65%;
            }
#info form div input[type="number"] {
                width: 20%;
            }
#info form div input[type="radio"] {
                margin-left: 0.5vw;
                width: 5%;
            }
#info form button {
            width: 100%;
            margin-top: 5vh;
            font-size: 3vh;
        }

/* Goals Page styling */
#goal {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
#goal #info-back {
        margin: 5% 90% 0 0;
        width: 3vh;
        height: 3vh;
        font-size: 2vh;
    }
#goal h2 {
        margin-top: 5vw;
        font-size: 5vh;
        width: 90%;
        text-align: center;
    }
#goal form {
        width: 80%;
        margin: 10vh 0; 
        font-size: 3vh;

    }
#goal form > div {
            display: flex;
            justify-content: space-between;
            margin: 4vh 0;
        }
#goal form > div * {
                font-size: 3vh;
            }
#goal form > div label {
                margin-left: 1vh;
            }
#goal form > div input[type="checkbox"] {
                height: 2vh;
                width: 2vh;
            }
#goal form > div input[type="number"] {
                width: 30%;
            }
#goal form > div > :first-child {
                width: 70%;
            }
#goal form > div >:last-child {
                width: 30%;
            }
#goal form > div >:last-child #weight {
                    width: 100%;
                }
#goal form > div p {
                text-align: right;
            }
#goal form button {
            width: 100%;
            margin-top: 5vh;
            font-size: 3vh;
        }

/* Stats page styling */
.progress {
    width: 100%;
    height: 20px;
    background-color: darkgray;
    border-radius: 5px;
    margin-bottom: 10px;
}
  
.progress-bar {
    height: 100%;
    background-color: green;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
    color: black;
}


.stats-style {
    font-size: 20px;
    margin-bottom: 20px; 
    padding: 20px; 
}

/* Exercise Page styling */
#exercise {
    padding: 1.3vh;
    margin-bottom: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
#exercise h2 {
        font-size: 5vh;
        margin-bottom: 2vh;
    }
#exercise .filter {
        font-size: 2vh;
    }
#exercise .filter select {
            font-size: 2vh;
        }
#exercise #video-container {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#exercise #video-container .video {
            width: 90%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 1vh 0.5vw;
            padding: 1vh 0.5vw;
        }
#exercise #video-container .video p {
                font-size: 1.3vh;
                text-align: justify;
                padding-left: 1vw;
            }
#exercise #video-container .video img {
                height: 10vh; 
                aspect-ratio: 16/9;
                -o-object-fit: cover;
                   object-fit: cover;
            }

#food {
    padding: 1.3vh;
    margin-bottom: 0;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#food h2 {
        font-size: 5vh;
        margin-bottom: 2vh;
    }

#food #video-container {
        overflow-y: scroll;
    }

#settings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings * {
        margin: 1.3vh 0;
        font-size: 3vh;
    }

#settings h2 {
        font-size: 5vh;
    }

#settings img {
        border-radius: 50%;
        width: 50%;
        aspect-ratio: 1/1;
        -o-object-fit: cover;
           object-fit: cover;
    }

#settings form {
        width: 80%; 
        font-size: 3vh;
    }

#settings form > div {
            margin: 0;
            display: flex; 
        }

#settings form > div label:first-child {
                width: 35%;
            }

#settings form > div input {
                width: 65%;
            }

#settings form > div input[type="number"] {
                width: 20%;
            }

#settings form > div input[type="radio"] {
                margin-left: 0.5vw;
                width: 5%;
            }

#settings form button {
            width: 100%;
            font-size: 3vh;
            margin-bottom: 1vh;
        }
