* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#top-container {
    /* set height and width to entire screen */
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-family: 'Roboto', sans-serif;
    background-color: beige;
}

#top-container #instructions,
    #top-container #form {
        height: 100%;
        flex: 1;
    }

#top-container #content-container {
        height: 100%;
        aspect-ratio: 9/16;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border: 1px solid darkgray;
        background-color: white;
    }

#navbar {
    height: 8%;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: space-between;
}

#navbar div {
        height: 100%;
        flex: 1;

        border: 1px solid darkgray;
    }

/* for some reason doesn't work nested with previous */

#navbar div:hover {
        background-color: lightgray;
    }

#navbar .selected {
        background-color: gray;
    }


/* signup page Styling */
#signup {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
#signup img {
        height: 50vh;
    }
#signup h1 {
        width:100%;
        text-align: center;
        border-bottom: 1px solid black;
    }
#signup form {
        height: 40vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
#signup form * {
            width: 100%;
            margin: 2vh 0;
            font-size: 3vh;
        }